.aboutHome {
  width: 100%;
  height: 100%;
  background-color: var(--primary-dark);
}
img {
  width: 8%;
}
.about__title {

  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 20%;
  margin-left: 100px;
}
.about__title > span {
  color: var(--white);
  font-size: 20px;
  font-family: var(--ff-roboto);
  transform: translateY(-8px);
}
.aboutHome__mainSection {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainsection__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 20%;
  margin-left: 5%;
  padding-right: 10%;
  border-right: 2px solid var(--primary-red);
}

.mainsection__title > span {
  text-transform: uppercase;
  font-size: 40px;
  /* color: white; */
}
.mainsection__title > span:first-child,
.mainsection__title > span:last-child {
  font-family: var(--ff-robotoCondesed);
  color: var(--white);
}
.mainsection__title > span:nth-child(2) {
  font-family: var(--ff-viga);
  color: var(--primary-red);
}
.mainsection__text {
  color: var(--white);
  font-size: 20px;
  font-family: var(--ff-roboto);
  flex-wrap: wrap;
  margin-left: 10%;
  line-height: 40px;
  margin-right: 10%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) 
{
  .aboutHome{
    width: 100vw;
    height: 100vh;
  }
  .about__title{
    padding-top: 10%;
    width: auto;
  }
  .about__title > img {
    width: 40%;
  }
  .aboutHome__mainSection{
    padding-top: 10%;
    flex-direction: column;
  }

  .aboutHome__mainSection > .mainsection__title { 
    /* margin-left: 10%; */
    width: auto;
    border-right: 0px solid white;
  }
  .aboutHome__mainSection > .mainsection__text {
    width: 100vw;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    width: 100vw;
    /* text-align: left; */
    font-size: 18px;
    flex-wrap: wrap;
  }
  .abouthome__Cards{
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
}