.teamhome {
  width: 100%;
  height: 100%;
  background: var(--black);
}
.team__title {
  display: flex;
  align-items: center;
  height: 20%;
  margin-left: 100px;
}
.team__title > span {
  color: var(--white);
  font-size: 20px;
  font-family: var(--ff-roboto);
  transform: translateY(-8px);
}
/* card */
.team__card {
  width: 100%;
  height: 50%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_left {
  width: 5%;
  margin-right: 5%;
  cursor: pointer;
}
.team_right {
  width: 5%;
  /* transform: rotateZ(180deg); */
  margin-left: 5%;
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)
{
  .teamhome{
    height: 100vh;
    
  }
  .team__title{
    width: auto;
    padding-top: 10%;
  }
  .team__title > img {
    width: 30%;
  }
  .team__card{
    width: 100%;
  }
}