.header {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img_logo {
    height: 100%;
    width: 20%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_logo > img {
    width: 50%;
  }
  nav {
    margin-right: 50px;
    color: black;
    width: 60%;
    height: 100%;
  }
  nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  nav > ul > li {
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
    height: 100%;
  }
  .hamburger {
    font-size: 30px;
  }
  .responsive__logo {
    font-size: 30px;
    margin-right: 30px;
  }
  .nav_btn{
    width: 60px;
    border: none;
    background: none;
    font-family: var(--ff-raleway);
    cursor: pointer;
    height: 100%;
  }
  ul > li > button:hover {
    height: 100%;
    background-color: var(--primary-red);
    color: #fff;
    border-radius: 0 0 50% 50%;
    
  }