/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --white: #ffffff;
    --black: #000;
    --ff-raleway:  'Raleway', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-robotoCondesed: 'Roboto Condensed', sans-serif;
    --ff-viga: 'Viga', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;

    --primary-red: #e9280b;
    --primary-dark: #131313;
    
    --card-bg: #EBEBEB;
}