/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --white: #ffffff;
    --black: #000;
    --ff-raleway:  'Raleway', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    --primary-red: #F02806;
}