.homepage {
  width: 100%;
  height: 90%;
  background-image: url("https://i.ibb.co/MSN29Fz/background-image.png");
  background-size: 70% 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* background */
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage__logo {
  height: 8%;
  width: auto;
}
.homepage__logo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.homepage__tagline {
  width: 60%;
  font-size: 70px;
  text-align: center;
  font-family: var(--ff-roboto);
}
.homepage__tagline > span {
  text-transform: uppercase;
}
.btn {
  margin-top: 20px;
  width: 150px;
  height: 55px;
  font-size: 25px;
  font-family: var(--ff-raleway);
  font-weight: bold;
  border-radius: 3px;
  border: none;
  background-color: var(--primary-red);
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

/* responsive */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) 
{
  .homepage{
    height: 100vh;
    background-image: none;
    /* margin-top: 0%; */
  }
  .homepage__logo {
    width: 40%;
    height: auto;
    /* height: 100%; */
  }
  .homepage__logo > img {
    width: 100%;
    object-fit: cover;
  }
  .homepage__tagline {
    width: 100%;
  }
  .homepage__tagline > span {
    font-size: 50px;
  }
  .homepage > button {
    margin-top: 50px;
  }
}
