.eventshome {
    height: 100%;
    width: 100%;
    background-color: var(--black);
  }
  .event__title {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 20%;
    margin-left: 100px;
  }
  .event__title > span {
    color: var(--white);
    font-size: 20px;
    font-family: var(--ff-roboto);
    transform: translateY(-8px);
  }
  .event__program {
    margin-top: 3%;
    height: 70%;
    width: 80%;
    display: grid;
    /* justify-self: center; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transform: translateX(10%);
  }
  .first_event {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .first_event {
    background-image: url("https://i.ibb.co/DG2SnHZ/Rectangle-13.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .second_event {
    background-image: url("https://i.ibb.co/xgRkWsY/Rectangle-15.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .third_event {
    background-image: url("https://i.ibb.co/CwDVN6L/Rectangle-21.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .fourth_event {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .fourth_event {
    background-image: url("https://i.ibb.co/bgLbpCD/Rectangle-16.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .black_overlay {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 0.7; */
  }
  .second{
    transform: translateY(-10%);
    line-height: 300%;
  }
  .second > span{
    padding-bottom: 2%;
  }
  .event_name{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(40%);  */
    flex-wrap: wrap;
    flex-direction: column;
  }
  .event_name > span {
    color: var(--white);
    font-size: 50px;
    font-family: var(--ff-viga);
    margin-right: 10%;
    margin-left: 10%;
    border-bottom: 2px solid var(--primary-red);
    /* padding-bottom: 10%; */
  }
  .black_overlay > button{
    width: 200px;
    height: 47px;
    margin-bottom: 10%;
    transform: translateY(30px);
    border: none;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid white;
    background: none;
    color: white;
  }
  .first_event, .second_event, .third_event, .fourth_event{
    border: 1px solid #fff;
  }